@use './variables' as vars;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container($max-width: 1200px) {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
